<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shop.dao.SubjectDao">
    <select id ="queryAllSubjects" resultType="org.shop.pojo.Subject">
        select * from subject 
    </select>
    <select id="querySubjectBySubjectId" parameterType ="String" resultType="org.shop.pojo.Subject">
        select * from subject where subject_id = #{0}
     </select>
     <select id="querySubjectByTeacherId" parameterType ="String" resultType="org.shop.pojo.Subject">
         select * from subject where teacher_id = #{0}     
     </select>
     <select id ="querySubjectByStudentId" parameterType ="String" resultType="org.shop.pojo.Subject">
       select * from subject where student_id = #{0}  
     </select>
     <select id="querySubjectByStudnetIdAndSubjectName"  resultType="org.shop.pojo.Subject">
        select * from subject where subject.student_id =#{studentId} and subject.subject_name =#{subjectName}
     </select>
     <insert id="addSubject">
        insert into subject(subject_id,subject_name,teacher_id,student_id,score)
             values(#{subjectId},#{subjectName},#{teacherId},#{studentId},#{score})
     </insert>
     <delete id="deleteSubjectById">
           delete from subject where subject_id = #{id}
     </delete>
     <delete id="deleteSubBySubidAndStuid">
           delete from subject where subject_id =#{subjectId} and student_id=#{studentId}
     </delete>
     <update id="modifyStudentScore">
         update subject set score = #{score}
          where subject_id =#{subjectId} and student_id=#{studentId} 
     </update>
</mapper>
